html {
    font-size: 16px;
}

body {
    background: white;
    font-size: 1.3em;
    padding:0 3%;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
    line-height: 1.75;
}

ul {
    padding-left: 0;
}

li {
    margin-bottom: 1em;
    list-style-type: none;

    > a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    time {
        font-size: .8em;
        font-style: italic;
        display: block;
        color: #666;
    }
}

.tags-list {
    display: none;
}

pre.sourceCode {
    background-color: #a0522d;
    color: #eee;
    padding: .5em 1em;
}

@media(min-width: 50rem ) {
    body {
        font-size: 1.6em;
    }
    li {
        a {
            &::before {
                content: "\2192";
                margin-right: .5em;
                color: green;
                vertical-align: text-top;
            }
        }
        time {
            display: inline-block;
            font-size: .6em;
            margin-right: 1em;
            vertical-align: middle;
        }
    }
}
@media(min-width: 80rem ) {
    body {
        font-size: 1.9em;
        padding-right: 30%;
    }
}
